/* Additional styles for "Success" */

.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover {
  background-color: #449d44;
  border-color: #398439;
}

/* Additional styles for "Info" */

.btn-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

/* Additional styles for "Warning" */

.btn-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
}

/* Additional styles for "Danger" */

.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}